# Ignore virtual environment directory
app-env/

# Ignore .env file
.env

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore macOS-specific files
.DS_Store
